################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/All-tris/Library
/Library
/Logs
/.vs
